*{
  position: relative;
}

.login {
    height: 500px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  
  @media (max-width: 768px) {
    .login {
      height: auto; /* Cambia la altura a automática en pantallas más pequeñas */
    }
  }

  .login-container {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    color: #F5670E;
    background-color: aliceblue;
  }
  
  @media (max-width: 768px) {
    .login-container {
      max-width: 90%; /* Cambia el ancho máximo en pantallas más pequeñas */
    }
  } 

  .login-form {
    display: grid;
    place-content: center;
  }
  
  @media (max-width: 768px) {
    .login-form {
      display: block; /* Cambia a bloque en pantallas más pequeñas */
    }
  }