<div class="container">
    <div>
        <h1>CURSOS</h1>
        <div class="container-table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        
                <!-- Columna Nombre -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="name-line"> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="name-line"> {{element.nombre}} </td>
                </ng-container>
        
                <!-- Columna Fecha de Inicio -->
                <ng-container matColumnDef="fechaInicio">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
                </ng-container>
        
                <!-- Columna Alumnos -->
                <ng-container matColumnDef="alumnos">
                    <th mat-header-cell *matHeaderCellDef> Alumnos </th>
                    <td mat-cell *matCellDef="let element"> {{element.alumnos}} </td>
                </ng-container>
        
                <!-- Columna Modalidad -->
                <ng-container matColumnDef="modalidad">
                    <th mat-header-cell *matHeaderCellDef> Modalidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.modalidad}} </td>
                </ng-container>
        
                <!-- Columna Progreso -->
                <ng-container matColumnDef="progreso">
                    <th mat-header-cell *matHeaderCellDef> Progreso </th>
                    <td mat-cell *matCellDef="let element"> {{element.progreso}} </td>
                </ng-container>
        
                <!-- Define las columnas que aparecerán en la tabla -->
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"
                    class="mat-mdc-row"
                    [class.demo-row-is-clicked]="row.isClicked"
                    (click)="row.isClicked = !row.isClicked"></tr>
            </table>
        </div>
        
    </div>

    <div class="">
        <h1>Agregar curso</h1>
        <form class="container-form" [formGroup]="myCurso" (ngSubmit)="addCourse()">
            <div class="img-div">
                <div class="img-container">
                    <img class="profile-img" [src]="imageSrc" *ngIf="imageSrc" alt="Imagen cargada">
                </div>
                <label class="button-loadFile custom-file-upload">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display:none;">
                    Subir Foto
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <label for="name" class="form-label">Nombre</label>
                    <input formControlName="nombre" id="name" type="text" class="form-control"
                        placeholder="Ingrese Nombre" required>
                </div>
                <div class="col">
                    <label class="form-label">Fecha de Inicio</label>
                    <input formControlName="fechaInicio" type="date" class="form-control"
                        placeholder="Ingrese fecha de inicio">
                </div>
            </div>
            <div class="row">
                <div class="col col-auto">
                    <label class="form-label">Duracion (dias)</label>
                    <input formControlName="duracion" type="number" class="form-control"
                        placeholder="Ingrese la duracion">
                </div>
                <div class="col col-auto">
                    <label class="form-label">Precio</label>
                    <input formControlName="precio" type="string" class="form-control" placeholder="Ingrese el precio">
                </div>
                <div>
                    <label class="form-label">Descripcion</label>
                    <textarea formControlName="descripcion" name="descripcion" id="" cols="30" rows="10"
                        class="form-control" placeholder="Ingrese una descripcion"
                        aria-describedby="descripcionHelpBlock">Ingrese una descripcion</textarea>
                    <small id="descripcionHelpBlock" class="form-text text-muted">
                        La descripcion tiene que tener entre 100-300 caracteres
                    </small>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Agregar</button>
        </form>
        


    </div>

</div>