

<div id="header">
    <div id="header-left">
      <a routerLink="/dashboard"> <img src="assets/img/incubadora-image.png" alt="Logo" class="logo"></a> 
    </div>
    <div id="header-right">
        <a class="menu" routerLink="/dashboard"><p>INICIO</p></a>
        <a class="menu" routerLink="/students/student-courses"> <p>CURSOS</p></a>
        <a class="menu" routerLink="/students/student-personalData"> <p>NOSOTROS</p></a>
        <a  routerLink="/registro"><button class="redondo">CREAR CUENTA</button></a>
        <a routerLink="/login"><button class="redondo" id="dos">INICIAR SESION</button></a>
    </div>
</div>




