<footer id="container2">
    <div class="columan1" id="redes">
        <p>Siguenos en nuestras redes:</p>
        <ul class="redes-sociales">
            <li><a href="https://m.facebook.com/people/Incubadora-del-NOC/100063640024874/"><img src="assets/img/facebook.png"></a></li>
            <li><a href="https://twitter.com/incubadora_noc"><img src="assets/img/gorjeo.png"></a></li>
            <li><a href="https://www.instagram.com/incubadoradelnoc/?hl=es"><img src="assets/img/instagram.png"></a></li>
        </ul>
    </div>

    <div class="columan5">

    <div class="columan">
        <a href="#"><p>Contactanos</p></a>
    </div>

    <div class="columan">
        <a href="#"><p>Medios de Pago</p></a>
    </div>

    <div class="columan">
        <a href="#"><p>Preguntas Frecuentes</p></a>
    </div>

</div>
</footer>
