
<div class="container">
    <h2 class="title">Datos para realizar el Pago</h2>
    <h4>Transferencia</h4>
    <div>
        <p>Alias: PAPA.LIENZO.MASA</p>
        <p>CBU: 0002536981123014523695</p>
        <p>Titular: Juarez Jose</p>
        <p>Banco: Macro</p>
    </div>
    <div class="img-div">
        <div class="img-container">
            <img class="profile-img" [src]="imageSrc" *ngIf="imageSrc" alt="Imagen cargada">
        </div>
        <label class="button-loadFile custom-file-upload">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display:none;">
            Subir comprobante
        </label>
    </div>
</div>
